@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-gray-lightest;
  }

  .top-level-container {
    @apply container p-4 bg-white;
  }
}
