@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-gray-lightest;
  }
  .base-container {
    @apply bg-white rounded overflow-hidden;
  }
  h2 {
    @apply font-bold text-gray;
  }

  h3 {
    @apply font-bold;
  }

  /* The intention here is to reuse the responsive x padding classes on top level component */
  .dynamic-px {
    @apply px-4 md:px-5;
  }

  .orange-link {
    @apply text-orange remove-hover-underline font-bold;
  }

  .top-level-max-width {
    @apply max-w-screen-xl mx-auto;
  }
}

@layer components {
  .livestream-button {
    @apply rounded px-1em py-0.33em font-bold;
  }

  .fade-overlay-bg {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(0, 0, 0, 0.87) 100%
    );
  }
}

@layer utilities {
  .hover-underline {
    text-decoration-color: transparent;
    text-decoration-line: underline;
    /* transition-property: text-decoration-color; */
    /* since this may overwrite other transition properties be inclusive */
    transition-property: all;
    transition-duration: 0.5s;
  }

  .hover-underline:hover {
    text-decoration-color: currentColor;
  }

  .remove-hover-underline {
    transition-property: all;
    text-decoration-line: underline;
    transition-duration: 0.5s;
  }

  .remove-hover-underline:hover {
    text-decoration-color: transparent;
  }
}
